&lt;div class=&quot;block block-thumb&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;b-inner&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			{{&gt; atoms-thumbnail-16x9 }}
		&lt;/div&gt;
		&lt;div class=&quot;b-text&quot;&gt;
			&lt;h2 class=&quot;b-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
			&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;