&lt;nav id=&quot;nav&quot; class=&quot;nav&quot;&gt;
	&lt;ul class=&quot;nav-links&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot;&gt;City Directory&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot;&gt;| Traffic Info&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;&lt;a class=&quot;nav-button hide&quot; href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/weather_icon.png&quot;&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;
			&lt;a class=&quot;nav-button&quot; href=&quot;{{ url }}&quot;&gt;
				&lt;img src=&quot;../../images/feedback_icon.png&quot;&gt;
				&lt;!-- &lt;i class=&quot;fa fa-institution&quot;&gt;&lt;/i&gt; --&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a class=&quot;nav-button search&quot; href=&quot;{{ url }}&quot;&gt;
				&lt;img src=&quot;../../images/localsearch_icon.png&quot;&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a class=&quot;nav-button menu&quot; href=&quot;{{ url }}&quot;&gt;
				&lt;!-- &lt;img src=&quot;../../images/menu_icon.png&quot;&gt; --&gt;
				&lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
