<h2>Vibrant Colors</h2>
<ul class="sg-colors lrg">
	<li>
		<span class="sg-label">Orange</span>
		<span class="sg-swatch lrg" style="background: #CC4E10;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#CC4E10</span>
	</li>
	<li>
		<span class="sg-label">ClassicBlue</span>
		<span class="sg-swatch lrg" style="background: #014982;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#014982</span>
	</li>
	<li>
		<span class="sg-label">LightBlue</span>
		<span class="sg-swatch lrg" style="background: #40C4FF;"></span>
		<div class="color-test">
			<div class="result">
				<span class="pass">o</span>
				<span class="pass">o</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#40C4FF</span>
	</li>
	<li>
		<span class="sg-label">Magenta</span>
		<span class="sg-swatch lrg" style="background: #D9007C;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#D9007C</span>
	</li>
	<li>
		<span class="sg-label">Red</span>
		<span class="sg-swatch lrg" style="background: #CC1414;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#CC1414</span>
	</li>
	<li>
		<span class="sg-label">LightGreen</span>
		<span class="sg-swatch lrg" style="background: #6ECC00;"></span>
		<div class="color-test">
			<div class="result">
				<span class="pass">o</span>
				<span class="pass">o</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#6ECC00</span>
	</li>
	<li>
		<span class="sg-label">Yellow</span>
		<span class="sg-swatch lrg" style="background: #FFE600;"></span>
		<div class="color-test">
			<div class="result">
				<span class="pass">o</span>
				<span class="pass">o</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#FFE600</span>
	</li>
</ul>
<h2>Classic Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-label">Orange</span>
		<span class="sg-swatch lrg" style="background: #CC4E10;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#CC4E10</span>
	</li>
	<li>
		<span class="sg-label">ClassicBlue</span>
		<span class="sg-swatch lrg" style="background: #014982;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#014982</span>
	</li>
	<li>
		<span class="sg-label">Teal</span>
		<span class="sg-swatch lrg" style="background: #00758C;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#00758C</span>
	</li>
	<li>
		<span class="sg-label">RichViolet</span>
		<span class="sg-swatch lrg" style="background: #54277B;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#54277B</span>
	</li>
	<li>
		<span class="sg-label">Burgundy</span>
		<span class="sg-swatch lrg" style="background: #800D20;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#800D20</span>
	</li>
	<li>
		<span class="sg-label">RichGreen</span>
		<span class="sg-swatch lrg" style="background: #326E1E;"></span>

		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#326E1E</span>
	</li>
	<li>
		<span class="sg-label">ClassicGold</span>
		<span class="sg-swatch lrg" style="background: #F9B000;"></span>
		<div class="color-test">
			<div class="result">
				<span class="pass">o</span>
				<span class="pass">o</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#F9B000</span>
	</li>
</ul>
<h2>Shades</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-label">Black(87%)</span>
		<span class="sg-swatch lrg" style="background: #212121;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#212121</span>
	</li>
	<li>
		<span class="sg-label">DarkGrey(72%)</span>
		<span class="sg-swatch lrg" style="background: #474747;"></span>
		<div class="color-test">
			<div class="result">
				<span class="fail">x</span>
				<span class="fail">x</span>
				<span class="pass">o</span>
				<span class="pass">o</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#474747</span>
	</li>
	<li>
		<span class="sg-label">LightGrey(12%)</span>
		<span class="sg-swatch lrg" style="background: #E0E0E0;"></span>
		<div class="color-test">
			<div class="result">
				<span class="pass">o</span>
				<span class="pass">o</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#E0E0E0</span>
	</li>
	<li>
		<span class="sg-label">White</span>
		<span class="sg-swatch lrg" style="background: #FFFFFF;"></span>
		<div class="color-test">
			<div class="result">
				<span class="pass">o</span>
				<span class="pass">o</span>
				<span class="fail">x</span>
				<span class="fail">x</span>
			</div>
			<div class="subject">
				<span style="color: #212121;">Aa</span>
				<span style="color: #474747;">Bb</span>
				<span style="color: #E0E0E0;">Cc</span>
				<span style="color: #FFFFFF;">Dd</span>
			</div>
		</div>
		<span class="sg-label">#FFFFFF</span>
	</li>
 </ul>